name: Release

on:
  push:
    branches: [ master ]

permissions:
  contents: write
  pull-requests: write

jobs:

  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        id: release
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          target-branch: master
          config-file: .release/release-please-config.json
          manifest-file: .release/release-please-manifest.json
      - name: Refresh Go Report Card
        uses: creekorful/goreportcard-action@v1.0